<form [formGroup]="criminalForm" class="p-fluid" (ngSubmit)="onSave()" #criminalFormRef>
  <div class="p-field">
    <label for="avatar">
      Avatar:
    </label>
    <p-dropdown inputId="avatar" formControlName="avatar" [options]="avatarOptions" [virtualScroll]="true" [itemSize]="31" [filter]="false" (onChange)="onSelectAvatar()">
      <ng-template pTemplate="selectedItem">
        <p-avatar [image]="selectedAvatar"></p-avatar>
        {{ selectedAvatar | avatar }}
      </ng-template>
      <ng-template let-option pTemplate="item">
        <p-avatar image="{{option}}"></p-avatar>
        {{ option | avatar }}
      </ng-template>
    </p-dropdown>
  </div>

    <div class="p-field">
      <label for="firstName">
        First name:
      </label>
      <input id="firstName" type="text" formControlName="firstName" (keyup.enter)="validateAndScroll()" pInputText>  
    </div>

    <div class="p-field">
      <label for="lastName">
        Last name:
      </label>
      <input id="lastName" type="text" formControlName="lastName" (keyup.enter)="validateAndScroll()" pInputText>  
    </div>

    <div class="p-field">
      <label for="dob">
        Date of birth:
      </label>
      <p-calendar formControlName="dateOfBirth" [yearNavigator]="true" [monthNavigator]="true" yearRange="1980:2030"></p-calendar>  
    </div>
    
    <div class="p-field">
      <label for="occupation">
        Occupation:
      </label>
      <input id="occupation" type="text" formControlName="occupation" (keyup.enter)="validateAndScroll()" pInputText>  
    </div>

    <div class="p-field">
      <label for="gender">
        Gender:
      </label>
      <input id="gender" type="text" formControlName="gender" (keyup.enter)="validateAndScroll()" pInputText>  
    </div>

    <div class="p-field">
      <label for="email">
        Email:
      </label>
      <input id="email" type="email" formControlName="email" (keyup.enter)="validateAndScroll()" pInputText>  
    </div>

    <p-inplace>
      <ng-template pTemplate="display">
        <div class="p-d-inline-flex p-ai-center p-mb-3">
          <span class="pi pi-map-marker" style="vertical-align: middle"></span>
          <span class="p-ml-2">Edit address</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">

        <div class="p-field">
          <label for="city">
            City:
          </label>
          <input id="city" type="text" formControlName="city" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
        <div class="p-field">
          <label for="streetName">
            Street name:
          </label>
          <input id="streetName" type="text" formControlName="streetName" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
        <div class="p-field">
          <label for="streetAddress">
            Street address:
          </label>
          <input id="streetAddress" type="text" formControlName="streetAddress" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
        <div class="p-field">
          <label for="zipCode">
            Zip code:
          </label>
          <input id="zipCode" type="text" formControlName="zipCode" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
        <div class="p-field">
          <label for="state">
            State:
          </label>
          <input id="state" type="text" formControlName="state" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
        <div class="p-field">
          <label for="country">
            Country:
          </label>
          <input id="country" type="text" formControlName="country" (keyup.enter)="validateAndScroll()" pInputText>  
        </div>
    
      </ng-template>
    </p-inplace>

    <div class="p-field">
      <label for="reward">
        Reward:
      </label>
      <p-inputNumber inputId="reward" mode="currency" currency="CAD" formControlName="reward" [showButtons]="true" [step]="1000" min="1000" max="10000"></p-inputNumber>
    </div>
    
    <div class="p-field">
      <label for="contractIsOpen">
        Open contract:
      </label>
      <div>
        <p-inputSwitch inputId="contractIsOpen" formControlName="contractIsOpen"></p-inputSwitch>
      </div>
    </div>

    <div class="p-field">
      <label for="wanted">Wanted:</label>
      <p-dropdown inputId="wanted" [options]="wantedOptions" optionLabel="label" optionValue="value" formControlName="mustReturnAlive"></p-dropdown>
    </div>
    <p-button type="submit" [disabled]="!criminalForm.valid || criminalForm.pristine" label="Save"></p-button>
</form>