<p-table [value]="fields">
    <ng-template pTemplate="body" let-field>
        <tr [ngSwitch]="field.label">
            <td>{{field.label}}</td>
            <td *ngSwitchCase="'DOB'">
                {{(field.value * 1000) | date}} ({{field.value | age}} yo)
            </td>
            <td *ngSwitchCase="'Reward'">
                {{field.value | currency}}
            </td>
            <td *ngSwitchCase="'Last known address'">
                {{field.value.street_address}},
                {{field.value.city}}, {{field.value.state}}, {{field.value.country}}
            </td>
            <td *ngSwitchCase="'Contract'">
                {{field.value ? 'Open' : 'Closed'}}
            </td>
            <td *ngSwitchCase="'Wanted'">
                {{field.value  ? 'Alive' : 'Dead or alive'}}
            </td>
            <td *ngSwitchDefault="">
                {{field.value}}
            </td>
        </tr>

    </ng-template>
</p-table>