<p-card *ngIf="criminal" header="{{criminal.first_name}} {{criminal.last_name}}" [subheader]="criminal.occupation">
    <ng-template pTemplate="header">
        <img [alt]="criminal.name" [src]="criminal.avatar">
    </ng-template>
    <p-button label="Details" icon="pi pi-id-card" [routerLink]="[criminal.id, 'info']"></p-button>
    <p-button label="Unselect" icon="pi pi-minus-circle" styleClass="p-button-secondary p-ml-2" (click)="onUnselect()"></p-button>
</p-card>