<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div *ngIf="!loading && criminal">
    <div class="p-grid">
        <div class="p-col-12">
            <app-criminal-toolbar [criminal]="criminal"></app-criminal-toolbar>
                <div class="p-grid p-flex-wrap-reverse">
                    <div class="p-md-9">
                        <p-card header="{{criminal.first_name}} {{criminal.last_name}}" subheader="{{criminal.occupation}}">
                            <p-tabMenu [model]="items"></p-tabMenu>
                            <router-outlet></router-outlet>
                        </p-card>
                    </div>
                    <div class="p-sm-6 p-md-3">
                        <p-card>
                            <img src="{{avatar}}" alt="{{criminal.name}}" style="width:100%">
                        </p-card>
                    </div>
                </div>
        </div>
</div>