<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="p-grid">
    <div class="p-xl-10 p-mx-auto">
        <router-outlet></router-outlet>
    </div>
</div>
<p-toast></p-toast>