<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton label="Close" icon="pi pi-check" class="p-button-success p-mr-2" (click)="onClose()" [disabled]="!selectedOpenContracts || !selectedOpenContracts.length"></button>
        <button pButton label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="confirmDelete()" [disabled]="!selectedCriminals || !selectedCriminals.length"></button>
    </ng-template>
    <ng-template pTemplate="right">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input id="search" type="text" #searchBox (input)="updateSearchTerm(searchBox.value)" pInputText>
            <label for="search">Search by name</label>
        </span>
    </ng-template>
</p-toolbar>
<div class="p-grid">
    <div class="p-md-9">
        <p-card header="Most wanted">
            <p-table [value]="criminals" [lazy]="true" (onLazyLoad)="populateTable($event)" [paginator]="true" [rows]="criminalsPerPage" [totalRecords]="totalCriminals" selectionMode="multiple" [(selection)]="selectedCriminals" (onRowSelect)="updateSelectedCriminal($event)" (onRowUnselect)="updateSelectedCriminal($event)" (onHeaderCheckboxToggle)="updateSelection()" (first)="currentOffset">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 3.5em"></th>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-criminal let-i="rowIndex">
                    <tr [pSelectableRow]="criminal" [ngClass]="{'closed': !criminal.contract_is_open}">
                        <td>
                            <p-tableCheckbox [value]="criminal"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-avatar image="{{criminal.avatar}}" shape="circle" size="large"></p-avatar>
                        </td>
                        <td *ngFor="let col of cols" [ngSwitch]="col.header">
                            <span *ngSwitchCase="'Name'">
                                {{i + 1}}. {{criminal.first_name}} {{criminal.last_name}}
                            </span>
                            <span *ngSwitchCase="'Reward'">
                                {{criminal.reward | currency}}
                                <p-tag *ngIf="criminal.reward >= bigReward" value="BIG" icon="pi pi-dollar" severity="success" rounded="true" styleClass="p-ml-1"></p-tag>
                            </span>
                            <span *ngSwitchCase="'Contract'">
                                {{criminal.contract_is_open ? 'open' : 'closed'}}
                                <i *ngIf="!criminal.contract_is_open" class="pi pi-check"></i>
                            </span>
                            <span *ngSwitchCase="'Wanted'" [ngClass]="{'p-text-bold': !criminal.must_return_alive}" [ngStyle]="{'color': criminal.must_return_alive ? null: 'var(--pink-600)'}">
                                {{criminal.must_return_alive ? 'alive' : 'dead or alive'}}
                            </span>
                            <span *ngSwitchDefault="">{{criminal[col.field]}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="p-sm-6 p-md-3">
        <app-criminal-preview-pane [criminal]="selectedCriminal" (criminalUnselected)="unselectCriminal($event)"></app-criminal-preview-pane>
    </div>
</div>
