<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
        <p-button [disabled]="!criminal.contract_is_open" styleClass="p-button-success" icon="pi pi-check"
            label="Close" (onClick)="closeContract()"></p-button>
        <p-button styleClass="p-button-danger" icon="pi pi-trash" label="Delete" (onClick)="confirmDelete()"
            [style]="{'margin-left': '.5em'}"></p-button>
        <p-button styleClass="p-button-secondary" icon="pi pi-replay" label="Back" (onClick)="goBack()"
            [style]="{'margin-left': '.5em'}"></p-button>
    </div>
</p-toolbar>